nccl/
__pycache__/

_debug.log

# Generated benchmark outputs
benchmarks/*/nccl-benchmark-results/
benchmarks/plot-gallery.html

# dotenv
.env

# virtualenv
venv/
.venv/
ENV/**

# vscode
.vscode

# Mac
.DS_Store
